* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9fafb;
    color: #111;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero span {
    color: #22c55e;
}

.btn {
    margin-top: 20px;
    padding: 12px 26px;
    border: none;
    border-radius: 25px;
    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 70px 60px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    color: #4f46e5;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skill-box span {
    padding: 10px 18px;
    background: #eef2ff;
    border-radius: 20px;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #e0e7ff;
}
